{
  "tabWidth": 2,
  "printWidth": 100,
  "bracketSpacing": true,
  "trailingComma": "all",
  "singleQuote": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
